extends layout

block content
  .wrapper-box
    .search-box
      label(for="city-search" class="label-search") Пойск города:
      .wrapper_search-input
        input(
          type="text"
          id="city-search"
          name="search"
          class="city-search"
        )
        .fas.fa-sort-down
